* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #2d2d2d;

}

@font-face {
    font-family: 'a';
    src: url(../fonts/Pacifico-Regular.ttf);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.home {
    width: 50%;
    display: flex;
    margin: 10%;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;



}

.one {
    width: 50%;
    background-color: rgb(233, 18, 132);
}

.one img {
    height: 100%;
}

.two {
    width: 50%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.logo {
    font-family: 'a';
}

.logo {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    color: gray;
}

.welcom {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #9a9898;
    font-size: 12px;
    padding-bottom: 15px;
}

.form {
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
}

label {
    font-size: 10px;
    color: #bdbdbd;
    justify-content: center;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.pass {
    padding-top: 5px;
    padding-bottom: 10px;
}

input {
    outline: none;
    border: transparent;
    justify-content: center;
    border-bottom: 1px solid #bdbdbd;
}

.forget {
    padding-left: 120px;
    padding-top: 0;
    font-size: 8px;
}

.for {
    padding-left: 120px;
    text-align: left;
    text-decoration: none;

    font-size: 8px;
    color: #bdbdbd;
    font-family: 'Arial, "Helvetica Neue", Helvetica, sans-serif;'

}

.sign {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;


}

.sign a {
    background-color: #989696;
    width: 120px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    height: 30px;

}

.hr {
    width: 364px;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    position: relative;
}

hr {
    border: 0;
    border-top: 1px solid #dddfe2;
    position: relative;
}

.or {
    position: absolute;
    left: 100px;
    bottom: 0px;
    color: #c5c4c4;
    font-size: 8px;
    text-align: center;

}

.google {
    padding-left: 120px;
    padding-top: 40px;
    display: inline;
    font-size: 10px;
}

.i {
    color: red;
}

.ii {
    color: rgb(44, 44, 44);
    font-family: 'Arial, "Helvetica Neue", Helvetica, sans-serif;'

}

a {
    text-decoration: none;
}

.new {
    padding-top: 20px;
    padding-left: 100px;
    font-size: 10px;
    color: #bdbdbd;
    font-family: 'Arial, "Helvetica Neue", Helvetica, sans-serif;'

}

.new a {
    color: #bdbdbd;
    text-decoration: solid;
    font-family: 'Arial, "Helvetica Neue", Helvetica, sans-serif;'
}